.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker {
  font-family: 'HelveticaNeueCyr', sans-serif;
  user-select: none;
  width: 151px;
  height: 180px;
  padding: 16px;
  z-index: 99 !important;

  background-color: rgb(var(--color-background-fullWhite)) !important;
  box-shadow: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px !important;
  border: none !important;
}

.react-datepicker__time-container {
  width: 100% !important;
  border: none !important;
}

.react-datepicker__time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  flex-shrink: 0;
  margin: 0;
  width: 100% !important;
  height: 120px;
  border-radius: 6px;
  color: rgb(var(--color-text-secondary));
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  border: none !important;
}

.react-datepicker__time-box {
  width: 100% !important;
  height: 100% !important;
}

.react-datepicker__time-list {
  display: flex;
  flex-direction: column;
  gap: 10px !important;
  width: 100% !important;
  background: rgb(var(--color-background-fullWhite));
  height: 100% !important;
}

.react-datepicker__time-list-item {
  background: rgb(var(--color-background-fullWhite)) !important;
  padding: 0 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 125% !important;
  text-align: center !important;

  letter-spacing: 0.04em;

  display: flex !important;
}

.react-datepicker__header {
  text-align: start !important;
  padding: 0 !important;
  margin-bottom: 16px !important;
  background-color: rgb(var(--color-background-fullWhite)) !important;
  border: none !important;
}

.react-datepicke-time__header {
  font-weight: 500 !important;
  font-size: 30px !important;
  line-height: 150%;
  text-align: start !important;
  background-color: rgb(var(--color-background-fullWhite));
}

.react-datepicker__time-list-item--selected {
  background-color: transparent !important;
  color: rgb(var(--color-text-base)) !important;
}

.react-datepicker__time-list-item:hover,
.react-datepicker__time-list-item--selected:hover,
.react-datepicker__time-list-item--keyboard-selected {
  border-radius: 6px;
  background-color: transparent !important;
  color: rgb(var(--color-text-inverted-theme)) !important;
}

.react-datepicker__triangle,
.react-datepicker__aria-live {
  display: none;
  visibility: hidden;
}

.react-datepicker__time-list-item {
  display: inline-block !important;
  white-space: pre !important;
}
