@layer base {
  /* red */
  :root {
    --color-text-base: 17, 16, 28;
    --color-text-secondary: 138, 138, 137;
    --color-text-inverted: 251, 251, 251;
    --color-text-inverted-theme: 240, 63, 59;
    --color-background: 240, 63, 59;
    --color-background-opacity: 240, 63, 59;
    --color-background-white: 251, 251, 251;
    --color-background-label: 243, 243, 243;
    --color-badge: 243, 243, 243;
    --color-button-accent: 240, 63, 59;
    --color-button-hover: 251, 251, 251;
    --color-button-muted: transparent;
    --color-button-muted-hover: transparent;
    --color-overlay: 11, 11, 11;
    --color-border-grey: 17, 16, 28;
    --color-background-fullWhite: 255, 255, 255;
    --color-background-white-after: rgb(251, 251, 251);
    --color-text-inverted-theme-after: rgb(240, 63, 59);
    --color-scroll: 128, 128, 128;
    --color-rating: 255, 197, 49;
    --color-salary: 56, 205, 62;
  }
  .theme-blue {
    --color-text-base: 17, 16, 28;
    --color-text-secondary: 138, 138, 137;
    --color-text-inverted: 251, 251, 251;
    --color-text-inverted-theme: 9, 87, 195;
    --color-background: 9, 87, 195;
    --color-background-opacity: 9, 87, 195;
    --color-background-white: 251, 251, 251;
    --color-badge: 243, 243, 243;
    --color-button-accent: 9, 87, 195;
    --color-button-hover: 251, 251, 251;
    --color-button-muted: transparent;
    --color-button-muted-hover: transparent;
    --color-background-white-after: rgb(251, 251, 251);
    --color-text-inverted-theme-after: rgb(9, 87, 195);
  }
  .theme-green {
    --color-text-base: 17, 16, 28;
    --color-text-secondary: 138, 138, 137;
    --color-text-inverted: 251, 251, 251;
    --color-text-inverted-theme: 16, 57, 49;
    --color-background: 16, 57, 49;
    --color-background-opacity: 16, 57, 49;
    --color-background-white: 251, 251, 251;
    --color-badge: 243, 243, 243;
    --color-button-accent: 16, 57, 49;
    --color-button-hover: 251, 251, 251;
    --color-button-muted: transparent;
    --color-button-muted-hover: transparent;
    --color-background-white-after: rgb(251, 251, 251);
    --color-text-inverted-theme-after: rgb(16, 57, 49);
  }
}
